body {
  font-family: 'Gabriola', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  background: #170021;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #190226;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  background: #b444ff;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 50px;
}

.card {
  background: #e6a8ff73;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #b444ff;
  border: none;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}